<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Console" name="Console" layout="${longdate} ${callsite} ${level} ${message}"
            encoding="utf-8"/>
    <target xsi:type="File" name="Logfile" fileName="${basedir}/logs/${shortdate}.log"
        layout="${longdate} ${callsite} ${uppercase:${level}} ${message}" archiveAboveSize="20000000" maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/old_{#####}.log"
        archiveNumbering="DateAndSequence" archiveEvery="Day" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console"/>
    <logger name="*" minlevel="Debug" writeTo="Logfile"/>
  </rules>
</nlog>
